<!-- DASHBOARD HTML TEMPLATE FOR DISPLAYING EXISTING BLOGS AND OPTION TO ADD NEW -->
<div class="dashboard-container container d-flex flex-column align-items-center ">

    <!-- dashboard header  -->
    <h5 class="dashboard-header">Welcome back {{user.name}}. Would you like to add a new blog post?</h5>
    <!-- add a blog post form  -->
    <div class="add-blog-container container card">
        <div class="mb-1 p-1">
            <label for="post-title" class="form-label">Post:</label>
            <input type="email" class="form-control" id="post-title" placeholder="Title of the blog">
        </div>
        <div class="mb-3 p-1 d-flex align-items-end flex-column">
            <label for="post-content" class="form-label"></label>
            <textarea class="form-control" placeholder="Contents of the Blog" id="post-content" rows="3"></textarea>
            <button class="btn btn-sm btn-outline-secondary " type="button"><i class='fas fa-plus' style='color:#ffc107'></i> Add Post</button>
        </div>
    </div>
    <!-- existing blogs div -->
    <h5 class="dashboard-header">View your existing blog posts below</h5>


    {{#each userBlog as |userBlogs|}}
    <div class="container existing-blogs" >
        <!-- template for existing blog with icons for editing  -->
        <div class="card card-custom m-1" href=""> 
            <h2 class="d-flex flex-wrap">
                <span class="view-icon"><i class='fas fa-eye m-2'></i></span>
                <span class="delete-icon"><i class='fas fa-trash m-2' style=></i></span>
                <span class="edit-icon"><i class='fas fa-pencil-alt m-2'></i></span>
                {{title}}
            </h2>
            <h5>Created by: <span class="span-username">{{user.name}}</span></h5>
            <p class="blog-text-contents">{{contents}} </p>
            <h5 class="date" style="text-align:right;"><span class="span-date">{{created_at}}</span></h5>
        </div>

    </div>
    {{/each}}

</div>


