<hr>
<h2 style="text-align: center;">Home - Recent Blogs</h2>
<hr>

{{#each blogs as |blog|}}
    <div class="container">
      <div class="blog-post">
        <div class="card blog-contents-card card-custom">
          <p style="font-size:10px">ID #{{id}}</p>
          <h2>{{title}}</h2>
          <p class="blog-text-contents">{{preview_contents contents}} <a href="/blog/{{id}}">...read more</a></p>
          <hr>
          <div class= "d-flex justify-content-between">
          <h5>Posted {{days_ago created_at}} on {{format_date created_at}} by: <span class="span-username">{{user.name}}</span></h5>
            </div>
        </div>
        </div>
    </div>
{{/each}}